/node_modules
/public/hot
/vendor
.env
.env.backup
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/js/app.js
mysql-data
.composer
.rnd
.config